.form-control.search-input {
    width: 100%;
    padding: 8px 40px 8px 10px;
    font-size: 14px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-sizing: border-box;
  }
  
  .form-control.search-input:focus {
    border-color: #aaa;
    outline: none;
  }
  
  .form-control.search-input::placeholder {
    color: #999;
  }