/* Filtros */
.filters {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.filters input {
  padding: 8px;
  font-size: 14px;
  border: 1px solid #ddd;
  border-radius: 5px;
  width: 65%;
}

.filters button {
  font-size: 14px;
  padding: 8px 15px;
  border-radius: 5px;
  cursor: pointer;
  border: none;
}

.filters .btn-primary {
  background-color: #0099c6; /* Edit Buttons */
  color: white;
}

.filters .btn-primary:hover {
  background-color: #007896;
}

.filters .btn-success {
  background-color: #4caf50; /* Save Buttons */
  color: white;
}

.filters .btn-success:hover {
  background-color: #45a049;
}

/* Lista de Hóspedes */
.guests-list {
  margin-top: 20px;
}

.list-group-item {
  border: 1px solid #dcdcdc;
  border-radius: 5px;
  padding: 15px;
  background-color:  #ffffff;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.list-group-item:hover {
  background-color: #f0f0f0;
}

.list-group-item button {
  font-size: 12px;
  padding: 6px 12px;
  border-radius: 5px;
  cursor: pointer;
  border: none;
}

.list-group-item .btn-edit {
  background-color: #0099c6; /* Edit Buttons */
  color: white;
}



.list-group-item .btn-danger {
  background-color: #d33; /* Cancel Buttons */
  color: white;
}

.list-group-item .btn-danger:hover {
  background-color: #cc0000;
}

/* Modal */
.modal-content {
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  width: 400px;
}

.modal-content h5 {
  margin-bottom: 20px;
  font-size: 18px;
  color: #333333;
}

.modal-content form .row {
  margin-bottom: 15px;
}

.modal-content form label {
  font-size: 14px;
  color: #333333;
}

.modal-content form input,
.modal-content form select {
  padding: 8px;
  font-size: 14px;
  border: 1px solid #ddd;
  border-radius: 5px;
  width: 100%;
}

.modal-content form button {
  font-size: 14px;
  padding: 8px 15px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
}

.modal-content form button.btn-primary {
  background-color: #4caf50; /* Save Buttons */
  color: white;
}

.modal-content form button.btn-primary:hover {
  background-color: #22bd29;
}

.modal-content form button.btn-secondary {
  background-color: #d33; /* Cancel Buttons */
  color: white;
}

.modal-content form button.btn-secondary:hover {
  background-color: #cc0000;
}

/* Geral */
body {
  font-family: Arial, sans-serif;
  background-color: #f9f9f9; /* Background */
  margin: 0;
  padding: 0;
}

.list-group-item .btn-edit:hover {
  background-color: #007896;
  color: white;
}