/* Filtros */
.filters {
  background-color: #f9f9f9;
  padding: 10px 15px;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.filters .search-container input {
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 5px 10px;
  transition: border-color 0.3s ease-in-out;
}

.filters .search-container input:focus {
  border-color: #0099c6;
  box-shadow: 0 0 5px rgba(0, 153, 198, 0.3);
  outline: none;
}


/* Botões */
button.btn-primary {
  font-size: 14px;
  padding: 10px 20px;
  border-radius: 5px;
  border: none;
  background-color: #0099c6;
  color: white;
  cursor: pointer;
}

button.btn-primary:hover {
  background-color: #007896;
}

button.btn-light {
  font-size: 14px;
}

button.btn-light:hover {
  background-color: #f0f0f0;
}

/* Responsividade */
@media (max-width: 768px) {
  .filters {
    flex-direction: column;
    gap: 10px;
  }

  .search-container {
    flex-direction: column;
    gap: 10px;
  }
}



button.btn-primary {
  font-size: 14px;
  padding: 8px 15px;
  border-radius: 5px;
  border: none;
  background-color: #0099c6;
  color: white;
  cursor: pointer;
}


/* Responsividade */
@media (max-width: 768px) {
  .filters {
    flex-direction: column;
    gap: 10px;
  }

  .search-container {
    flex-direction: column;
    gap: 5px;
  }
}

/* Lista de Hóspedes */
.guests-list {
  margin-top: 20px;
}

.list-group-item {
  border: 1px solid #dcdcdc;
  border-radius: 5px;
  padding: 15px;
  background-color:  #ffffff;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.list-group-item:hover {
  background-color: #f0f0f0;
}

.list-group-item button {
  font-size: 12px;
  padding: 6px 12px;
  border-radius: 5px;
  cursor: pointer;
  border: none;
}

.list-group-item .btn-edit {
  background-color: #0099c6; /* Edit Buttons */
  color: white;
}



.list-group-item .btn-danger {
  background-color: #d33; /* Cancel Buttons */
  color: white;
}

.list-group-item .btn-danger:hover {
  background-color: #cc0000;
}

/* Modal */
.modal-content {
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  width: 400px;
}

.modal-content h5 {
  margin-bottom: 20px;
  font-size: 18px;
  color: #333333;
}

.modal-content form .row {
  margin-bottom: 15px;
}

.modal-content form label {
  font-size: 14px;
  color: #333333;
}

.modal-content form input,
.modal-content form select {
  padding: 8px;
  font-size: 14px;
  border: 1px solid #ddd;
  border-radius: 5px;
  width: 100%;
}

.modal-content form button {
  font-size: 14px;
  padding: 8px 15px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
}

.modal-content form button.btn-primary {
  background-color: #4caf50; /* Save Buttons */
  color: white;
}

.modal-content form button.btn-primary:hover {
  background-color: #22bd29;
}

.modal-content form button.btn-secondary {
  background-color: #d33; /* Cancel Buttons */
  color: white;
}

.modal-content form button.btn-secondary:hover {
  background-color: #cc0000;
}

/* Geral */
body {
  font-family: Arial, sans-serif;
  background-color: #f9f9f9; /* Background */
  margin: 0;
  padding: 0;
}

.list-group-item .btn-edit:hover {
  background-color: #007896;
  color: white;
}

.form-control.search-input {
  width: 100%; /* Campo ocupa 100% do espaço do container */
  padding: 8px 40px 8px 10px; /* Espaço para o botão "X" */
  font-size: 14px;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-sizing: border-box; /* Garante que o padding e a borda sejam incluídos no tamanho */
}

.form-control.search-input:focus {
  border-color: #aaa; /* Cor da borda ao focar */
  outline: none; /* Remove o outline padrão */
}

.form-control.search-input::placeholder {
  color: #999; /* Cor do placeholder */
}

