/* Stylesheet: ReservationsTimeline.css */

/* Geral */
body {
  font-family: Arial, sans-serif;
  background-color: #f9f9f9; /* Cor de fundo geral */
  color: #333; /* Cor principal do texto */
  margin: 0;
  padding: 0;
}

/* Container principal */
.container {
  max-width: 100%; /* Largura máxima da página */
  margin: 0 auto;
  padding: 20px;
  background-color: #fff; /* Fundo da página */
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); /* Sombra */
  border-radius: 8px; /* Bordas arredondadas */
}

/* Cabeçalho */
h1 {
  font-size: 24px;
  color: #004080; /* Azul-escuro */
  margin-bottom: 20px;
  text-align: center;
}

/* Botões de navegação */
button.btn-outline-primary {
  background-color: #fff;
  color: #004080; /* Azul-escuro */
  border: 1px solid #004080;
  padding: 8px 12px;
  border-radius: 4px;
  transition: all 0.3s ease-in-out;
}

button.btn-outline-primary:hover {
  background-color: #004080;
  color: #fff; /* Branco no hover */
}

/* Tabela */
.table {
  border-collapse: collapse; /* Remove espaçamento entre as células */
  table-layout: fixed; /* Colunas com largura fixa */
  width: 100%;
}

.table th {
  background-color: #004080; /* Azul-escuro */
  color: #ffffff; /* Texto branco */
  text-align: center;
  padding: 8px;
  font-weight: bold;
  border-top: 1px solid #000000; /* Borda superior */
  border-bottom: 1px solid #000000; /* Borda inferior */
}

.table td {
  position: relative;
  white-space: nowrap; /* Impede quebra de linha */
  overflow: hidden; /* Esconde o texto excedente */
  text-overflow: ellipsis; /* Adiciona reticências para indicar corte */
  padding: 4px;
  text-align: center;
  font-size: 12px;
}

/* Células Disponíveis */
.table td.available {
  background-color: #e8faff; /* Verde-claro */
  color: #000000; /* Preto */
  cursor: pointer;
}

.table td.available:hover {
  background-color: #c3f0c3; /* Verde mais escuro no hover */
}

/* Células Reservadas */
.table td.reserved {
  background-color: #FFD580; /* Laranja-claro */
  border-right: #ffffff 1px solid; /* Borda lateral */
  color: #000000; /* Preto */
  cursor: pointer;
}


.table td.reserved:hover {
  background-color: #ffc14d; /* Laranja mais escuro no hover */
}

/* Remove bordas laterais */
.table td, 
.table th {
  border-left: none;
  border-right: none;
}

/* Modal */
.modal-dialog {
  max-width: 600px;
  margin: 20px auto;
}

.modal-header {
  background-color: #ffffff;
  padding: 15px;
  border-bottom: 1px solid #000000;
}

.modal-title {
  font-size: 18px;
}

.modal-footer {
  display: flex;
  justify-content: space-between;
  padding: 15px;
}

.modal-footer .btn-secondary {
  background-color: #6c757d;
  color: #fff;
}

.modal-footer .btn-primary {
  background-color: #ffffff;
}

/* Estilos Responsivos */
@media (max-width: 768px) {
  .table thead th {
    font-size: 12px;
    padding: 8px;
  }

  .table td {
    font-size: 12px;
    padding: 8px;
  }

  button.btn-outline-primary {
    padding: 6px 10px;
  }
}
