/* Sidebar */
.sidebar {
  position: fixed;
  top: 0;
  left: -250px; /* Começa fora da tela */
  width: 250px;
  height: 100vh;
  background-color: whitesmoke; /* Cor de fundo da sidebar */
  color: #3a4b61;
  padding: 0;
  transition: all 0.3s ease;
  z-index: 1050;
}

.sidebar.open {
  left: 0; /* Mostra a sidebar */
}

/* Header dentro da Sidebar */
.sidebar-header {
  background-color: #004080;
  color: white;
  padding: 15px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); /* Sombra discreta */
}

.sidebar-header h2 {
  font-size: 18px;
  margin: 0;
}

.sidebar-header .close-btn {
  background: none;
  border: none;
  font-size: 20px;
  cursor: pointer;
  color: white;
}

/* Links na navegação */
.sidebar nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.sidebar nav li {
  margin: 15px 0;
}

.sidebar nav a {
  color: #2d3e50;
  text-decoration: none;
  padding: 10px 20px;
  display: block;
  font-size: 16px;
}

.sidebar nav a:hover {
  background-color: lightgray; /* Destaque ao passar o mouse */
}

/* Overlay */
.sidebar-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1049;
}


/* Ícones nos links */
.sidebar nav a {
  color: #2d3e50;
  text-decoration: none;
  padding: 10px 20px;
  display: flex; /* Flexbox para alinhar ícone e texto */
  align-items: center;
  font-size: 16px;
  gap: 10px; /* Espaço entre o ícone e o texto */
  transition: background-color 0.3s ease, color 0.3s ease;
}

.sidebar nav a i {
  font-size: 18px; /* Tamanho dos ícones */
  color: #004080; /* Cor do ícone */
}

.sidebar nav a:hover {
  background-color: lightgray; /* Destaque ao passar o mouse */
  color: #004080; /* Cor do texto ao passar o mouse */
}

.sidebar nav a:hover i {
  color: #0066cc; /* Cor do ícone ao passar o mouse */
}
